<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @question.visible %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @question.topic_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @question.user_id %>
</p>

<%= link_to 'Edit', edit_topic_question_path(@topics, @question) %> |
<%= link_to 'Back', topic_questions_path(@topics) %>
