<% title "Topics" %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1>Topics</h1>
				<% if current_user.present? && current_user.is_admin? %>
	        <p><%= link_to("[New Topic]", new_topic_path) %></p>
				<% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">

			<p id="notice"><%= notice %></p>

			<% @topics.each do |topic| %>
				<h3>
					<%= link_to topic.title, topic %>
				</h3>
				<p class="text-muted">					
					<%= pluralize topic.questions.count, 'Response' %> | By <%= link_to topic.user.twitter_nickname, topic.user.twitter_url, target: "_blank" %> | <%= time_ago_in_words topic.created_at %> ago
				</p>
				<hr>
			<% end %>
		</div>
	</div>
</div>

