<!DOCTYPE html>
<html>
<head>
	<title><%= raw("#{yield(:title)} - ") if content_for?(:title) %>Topicbot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
				<%= link_to "Topicbot", root_path, class: "navbar-brand" %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
					<%= nav_link("Topics", topics_path) %>
					<%= nav_link("About", "/about") %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
						<p class="navbar-text">Signed in as <%= current_user.twitter_nickname %></p>
            <li><%= link_to "Sign Out", sign_out_path %></li>
          <% else %>
            <li><a href="/auth/twitter">Sign In with Twitter</a></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>


  <div class="container">

		<%= yield %>

  </div> <!-- /container -->

</body>
</html>
